/*  Formatting my page */
/* Variable variable   */
:root{
    --mainColor-blancGivre : rgb(247,250,252);
    --button-color : rgb(193,231,254);
    --margin-global : 0;
    --color-text : rgb(95,101,123);
    --hover-links-color : rgb(240,243,244);
    --font-family : "Poppins" , sans-serif;
    --font-size-paragraphe : 14px;
    --btn-padding-top: 15px;
    --btn-padding-bottom: 15px;
    --btn-border-raduis : 2rem;
    --btn-gap : 13px;
    --header-padding--rigth :100px;
    --content-header-size : 14px;
    --padding-left :20px ;
    --btn-padding-left : 1rem ;
    --hover-btn-bg-color : rgb(226, 229, 230);
    --hover-btn-display : flex;
    --hover-btn-padding : 10px ;
    --hover-btn-border-raduis : 50%;
    --btn-send-bg-color : #1E64D4;
    --border-form-libelle : 0.1rem solid var(--hover-btn-bg-color);
    --border-raduis-form-input : 0.5rem;
    --font-zize-form-input : 1rem;
    --padding-fomr-input : 0.6rem 16rem 0.6rem 0.5rem;
    --box-shadow : 0px 2px 8px var(--color-text);
    --transitionButton : box-shadow 0.4s ease-in-out;
    
}

/* my property */
body{
    margin: var(--margin-global);
    background-color: var(--mainColor-blancGivre);
    font-family: var(--font-family);
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: var(--mainColor-blancGivre);
    display: flex;
    align-items: center;
    width: 95%;
    padding-left: 2.5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header__topbar{
    display: flex;
    gap: 5px;
}
.topbar__logo{
    display: flex;
    gap: 5px;
    align-items: center;
}
.logo__humberger,.contacts__icone--hover{
    display: var(--hover-btn-display);
    padding: var(--hover-btn-padding);
    border-radius: var(--hover-btn-border-raduis);
}
.logo__humberger:hover{
    cursor: pointer;
    background-color: var(--hover-btn-bg-color);
    transition: background-color 1s ease-in-out;
}
.humberger__img--size{
    width: 24px;
    height: 24px;
}
.img--size{
    width: 44px;
    height: 40px;
}
.links--size{
    font-size: 22px;
}
.links--decoration{
    text-decoration: none;
    color: var(--color-text);
}
.icone__link--size{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}
.header__search{
    display: flex;
    align-items: center;
    width: 55%;
}
.search__contacts{
    display: flex;
    background-color: var(--hover-links-color);
    width:100%;
    height: auto;
    justify-content: left;
    align-items: center;
    margin-left: 75px;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    /*gap: 20px;*/
    border-radius: 5px;
    /* background-color: red; */
}
.contacts__icone{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.contacts__icone--hover{
    display: var(--hover-btn-display);
    padding: var(--hover-btn-padding);
    border-radius: var(--hover-btn-border-raduis);
}
.contacts__icone--hover:hover{
    cursor: pointer;
    background-color: var(--hover-btn-bg-color);
    transition: background-color 1s ease-in-out;
}
.contacts__search{
    width: 100%;
}
.contacts__search--box-shadow{
    background-color: white;
    box-shadow:0px 0px 20px var(--hover-btn-bg-color);
    /* transition:background-color 1s ease-in-out, box-shadow 1s ease-in-out; */
}
p{
    padding: 12px;
    width: 90%;
    border:  none;
    /* background-color: var(--hover-links-color); */
    font-size: 1rem;
}
.search__input{
    width: 95%;
    border: none;
    padding-top:10px ;
    padding-bottom: 10px;
    font-size: var(--font-size-paragraphe);
    background-color: var(--hover-links-color);
    margin-left: 0.5rem;
}
.search__input:focus{
    outline: none; /* Supprime la bordure de focus */
}
/* Hand page design */
.main{
    width: 95%;
    padding-left: 2.5%;
    display: flex;
    padding-top: 20px;
    /* background-color: red; */
}
.main__menu{
    width: 25%;
}
.main__menu--width{
    display: none;
}
.menu__add-contact{
    /*gap: 15px;*/
    /* background-color: var(--button-color); */
    width: 50%;
    /*padding-top: var(--btn-padding-top);*/
    /*padding-bottom: var(--btn-padding-bottom);*/
    border-radius: 0.9rem;
    /*padding-left: var(--padding-left);*/
    display: flex;
    /*background-color: green;*/
}
.menu__add-contact--bg-color{
    background-color: var(--mainColor-blancGivre);
}
.menu__add-contact--padding-x{
    padding-left: var(--padding-left);
}
.menu__add-contact--center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu__add-contact--width{
    width: 80%;
    border-radius: var(--btn-border-raduis);
}
.menu__add-contact--padding-y{
    margin-bottom: 15px;
}
.menu__add-contact a{
    text-decoration: none;
    color: black;
    font-size: var(--font-size-paragraphe);
}
.main__content{
    width: 80%;
    background-color: rgb(255,255,255);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    height: 80vh;
    overflow-y: scroll;
    /* transition: width 0.8s ease; */
}
.main__content::-webkit-scrollbar {
    display: none; 
    /* width: 2px; */
}
.main__content--width{
    width: 100%;
}
.add-contact__button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--btn-gap);
    /*background-color: red;*/
    width: 100%;
    padding-top: var(--btn-padding-top);
    padding-bottom: var(--btn-padding-bottom);
    border: none;
    border-radius:1.5rem;
    font-size: var(--font-size-paragraphe);
    padding-left: var(--btn-padding-bottom);
    padding-right: 25px;
}
.add-contact__button--hover:hover{
    box-shadow: 0px 2px 8px var(--color-text);
    cursor: pointer;
    transition: box-shadow 0.4s ease-in-out;
    /* background-color: red; */
}
.add-contact__button--bg-color{
    background-color: var(--button-color);
    /*border: 1px solid var(--button-color);*/
}
.add-contact__button .link__img{
    width: 20px;
    height: 20px;
}
.add-contact__text{
    display: flex;
    justify-content: space-between;
}
.add-contact__text--fw{
    font-weight: bold;
    /*background-color: red;*/
    display: flex;

    /*padding-right: 2rem;*/
}
.add-contact__compteur{
    /*padding-left: 5.5rem;*/
    width: 80%;
    /*background-color: red;*/
    text-align: right;
    padding-right: 2rem;
}
.content__add-contact{
    width: 60%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.add-contact__navigation{
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
/* .add-contact__picture{
    background-color: red;
} */
.add-contact__bloc{
    color: white;
    /* background-color: yellow; */
    width: 10%;
    z-index: 10;
    
}
.bloc__width{
    width: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
}
.navigation__img-back-touch{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.navigation__btn{
    padding: 0.7rem 1.6rem;
    border-radius: 1.5rem;
    border: none;
    background-color: var(--hover-btn-bg-color);
}
.picture__width{
    width: 162px;
    height: 162px;
    cursor: pointer;
}
.form__btn{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: var(--btn-gap);
    padding: 0.05rem 0.8rem;
    cursor: pointer;
    border-radius: 0.8rem;
    border: var(--border-form-libelle);
    background-color: white;
}
.btn__span-libelle{
    color: #1E64D4;
    font-size: 1.3rem;
}
.prenom__input{
    padding: var(--padding-fomr-input); 
    font-size: var(--font-zize-form-input);
    border-radius: var(--border-raduis-form-input);
    border: var(--border-form-libelle);
}
.input__nom{
    padding: var(--padding-fomr-input); 
    font-size: var(--font-zize-form-input);
    border-radius: var(--border-raduis-form-input);
    border: var(--border-form-libelle);
}
.div__input{
    
    padding: var(--padding-fomr-input); 
    font-size: var(--font-zize-form-input);
    border-radius: var(--border-raduis-form-input);
    border: var(--border-form-libelle);
}
.input__button{
    --padding-fomr-input : 0.6rem 14rem 0.6rem 0.5rem;
    --border-raduis-form-input : 5rem;
    padding: var(--padding-fomr-input); 
    font-size: var(--font-zize-form-input);
    border-radius: var(--border-raduis-form-input);
    border: var(--border-form-libelle);
    background-color: var(--hover-links-color);
    cursor: pointer;
    color: var(--btn-send-bg-color);
    text-align: center;
}
.input__button:hover{
    background-color: #E7F0FE;
    box-shadow:  var(--box-shadow);
    color: var(--btn-send-bg-color);
    border-color: var(--hover-links-color);
    transition:var(--transitionButton) ;
}
.div__function{
    padding: var(--padding-fomr-input); 
    font-size: var(--font-zize-form-input);
    border-radius: var(--border-raduis-form-input);
    border: var(--border-form-libelle);
}
.entreprise__input{
    padding: var(--padding-fomr-input); 
    font-size: var(--font-zize-form-input);
    border-radius: var(--border-raduis-form-input);
    border: var(--border-form-libelle);
}
.link__img--size{
    width: 24px;
    height: 24px;
    /*padding-right: var(--btn-gap);*/
}
.content__header{
    display: flex;
    justify-content: space-around;
    /*background-color: red;*/
    width: 100%;
}
.content__header--size{
    font-size: var(--content-header-size);
}
.header__name{
    width: 20%;
    /*background-color: yellow;*/
}
.header__couriel--padding-x{
    /*padding-right: var(--header-padding--rigth);*/
    width: 20%;
    /*background-color: blue;*/
}
.content--title {
    font-size: 24px;
    color: var(--color-text);
}

.header__tel--padding-x{
    /*padding-right: var(--header-padding--rigth);*/
    width: 20%;
    /*background-color: yellow;*/
}
.header__function--padding-x{
    /*padding-right: var(--header-padding--rigth);*/
    width: 20%;
    /*background-color: blue;*/
}
.header__libelle{
    width: 20%;
    /*background-color: yellow;*/
}
.content__img {
    /* width: 100%; /* Largeur du conteneur */
    /* height: 200px;*/
    /* background-color: red;  */
    /* text-align: center;  */
    display: flex;
    justify-content: center; /* Pour centrer horizontalement */
    align-items: center; /* Pour centrer verticalement */
    height: 70vh; /* Définissez la hauteur du bloc */
    flex-direction: column;
  }

.img__width{
    width: 20%;
    height: auto;
}
.img-description{
    text-align: center;
}




@media screen and (max-width : 1366px) {
    .menu__add-contact{
        width: 65%;
    }
}


